# Core
pyspark==3.5.0

# Workflow orchestration
apache-airflow==2.9.3
apache-airflow-providers-amazon==8.19.0  # for S3 hooks/operators

# AWS (S3 interaction)
boto3==1.34.131

# Utilities
pyarrow==16.1.0     # Parquet/Arrow support
fastparquet==2024.2.0

# Testing
pytest==8.2.2

# Linting/formatting
black==24.4.2
flake8==7.1.0
